.Contact {
    background: url('../images/contact.jpg') no-repeat center;
    background-size: cover;
    height: 101vh;  
    color: black;
    
    overflow: hidden;
}

.Contact>.WrapperContent {
    align-items: flex-start;
    margin-left: 3%;
    margin-top: 10%;
    z-index: 10;
    text-shadow: none;  
}

.Contact ul {
    list-style: none;
    padding-left: 5%;
}

.Contact p {
    margin-top: 5%;
}

@media(min-width: 768px) {
    .Contact>.WrapperContent {
        margin-top: 20%;
        margin-left: 15%;
    }
    .Contact p {
        font-size: calc(1rem + 0.5vw);
    }
    .Contact ul {
        font-size: calc(1rem + 0.25vw);
    }
}

@media(min-width: 992px) {
    .Contact {
        align-items: center;
    }
    .Contact>.WrapperContent {
        margin-top: calc(1% + 1vw);
        margin-left: 0%;
        margin-left: 90px;
    }
    .Contact h1 {
        color: black;
        text-shadow: none;
    }
}