.Contact {
    background: url('../images/contact.jpg') no-repeat center fixed;
    background-size: cover;
    background-position-x: 55%;
    height: 100vh;  
    color: black;
    text-shadow: none;  
    overflow: hidden;
}

.Contact h1 {
    display: block;
    color: black;
    margin-left: 17%;
    margin-top: 13%;
}

.Contact>.WrapperContent>.WrapperContent {
    display: block;
    transform: rotate(-0.8deg);
    margin-top: 14%;
    margin-left: 22%;
}

.Contact .hidden-mobile {
    display: none;
}

.Contact ul {
    list-style: none;
    padding-left: 5%;
}

.Contact p {
    margin-top: 5%;
}

.Contact ul li.mail {
    background-image: url('../images/icons/coordonnees_mail.png');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 6.5% 45.5%;
    padding-left: 10%;
}

.Contact ul li.phone {
    background-image: url('../images/icons/coordonnees_phone.png');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 6% 100%;
    padding-left: 9%;
    margin-left: 0.2%;
}

@media(min-width: 768px) {
    .Contact>.WrapperContent>.WrapperContent {
        margin-top: 5%;
        margin-left: 23%;
    }

    .Contact ul li.mail {
        line-height: 45px;
        padding-left: 10%;
    }

    .Contact ul li.phone {
        background-size: 6% 100%;
        padding-left: 9%;
        margin-left: 0.2%;
    }

}

@media(min-width: 992px) {
    .Contact {
        background-position-x: center;
    }

    .Contact h1 {
        margin-top: 5%;
    }

    .Contact>.WrapperContent {
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-start;
        margin-left: 14%;
        padding-bottom: 7%;
        flex-grow: 1;
    }

    .Contact>.WrapperContent>.WrapperContent {
        margin-top: 0%;
        margin-left: 14%;
        height: 550px;
    }

    .Contact .hidden-mobile {
        display: block;
    }

    .Contact article#todoList {
        width: 11%;
        transform: rotate(2deg);
    }
    
    .Contact article#todoList h2 {
        font-size: 1.2rem;
    }
    
    .Contact #todoList ul li {
        margin-top: 6%;
    }

    .Contact article#todoList ul {
        font-size: 0.8em;
        line-height: 0.9em;
        margin-top: 5%;
        list-style: inside;
    }
    
    .Contact article#images {
        width: 9%;
        text-align: center;
        margin-left: 6.5%;
        height: 87px;
    }
    
    .Contact article#images img {
        width: 50%;
        margin-bottom: 34%;
    }
    
    .Contact article#todoList ul li.striked {
        text-decoration: line-through;
    }
    
}

@media(min-width: 1280px) {
    .Contact>.WrapperContent {
        margin-left: 20%;
        padding-bottom: 5%;
    }

    .Contact article#todoList h2 {
        font-size: 1.4rem;
        margin-bottom: 20px;
    }

    .Contact>.WrapperContent>.WrapperContent {
        height: 535px;
        margin-left: 12%;
    }

    .Contact article#images {
        height: 120px;
        margin-left: 4.5%;
    }
}

@media(min-width: 1440px) {
    .Contact>.WrapperContent {
        margin-left: 20%;
        padding-bottom: 6%;
    }

    .Contact article#todoList h2 {
        font-size: 1.4rem;
        margin-bottom: 20px;
    }

    .Contact>.WrapperContent>.WrapperContent {
        height: 620px;
        margin-left: 12%;
    }

    .Contact article#images {
        height: 120px;
        margin-left: 4.5%;
    }
}

@media(min-width: 1920px) {
    .Contact>.WrapperContent {
        margin-left: 22.5%;
        padding-bottom: 6%;
    }

    .Contact article#todoList h2 {
        font-size: 1.4rem;
        margin-bottom: 20px;
    }

    .Contact>.WrapperContent>.WrapperContent {
        height: 750px;
        margin-left: 12%;
    }

    .Contact article#images {
        height: 120px;
        margin-left: 3.5%;
    }
}