/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

.JourJ {
    text-shadow: 1px 2px 2px #1a1a1a; 
}

.JourJ .PageTitle {
    display: none;
}

.JourJ .carousel-item img {
    width: 100%;
}

.carousel .carousel-item:first-child .carousel-caption {
    bottom: 10%;
}

@media (min-width: 768px) {
    .carousel .carousel-item:first-child h3 {
        background : url('../images/union-profile.png') no-repeat top;
        background-size: 25%;
        padding-top: 25%;
    }
}

@media (min-width: 992px) {
    .carousel .carousel-item:first-child h3 {
        background-size: 30%;
        padding-top: 31%;
    }
}

@media (min-width: 1200px) {
    .carousel .carousel-item:first-child .carousel-caption {
        bottom: 20%;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

    .JourJ .PageTitle {
        margin-top: 20px;
        position: absolute;
        z-index: 100;
        text-align: center;
        width: 100%;
        display: block;
    }

}

@media (max-width: 768px) {
    .JourJ .carousel .carousel-item{
       display: flex; 
       flex-direction: column;
    }
    .JourJ .carousel .carousel-indicators, .JourJ .carousel .carousel-control-prev, .JourJ .carousel .carousel-control-next {
        display: none;
    }
}