/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

.JourJ {
    text-shadow: none;
    color: black;
    position: relative;
}

.JourJ .transparent-background {
    display: none;
}

.JourJ .carousel-caption {
    background-color: rgba(0,0,0,0.5);
    border-radius: 2px;
    padding: 20px;
    bottom: auto!important;
}

.JourJ .PageTitle {
    display: none;
    text-shadow: 1px 2px 2px black;
}

.JourJ .carousel-item img {
    width: 100%;
}

.JourJ .carousel-control-next, .JourJ .carousel-control-prev {
    cursor: pointer;
    width: 10%;
}

.JourJ .carousel-control-next:focus, .JourJ .carousel-control-next:hover, .JourJ .carousel-control-prev:focus, .JourJ .carousel-control-prev:hover {
    opacity: .5;
}

.JourJ .carousel-control-prev {
    background-image: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,1));
}

.JourJ .carousel-control-next {
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1));
}

.JourJ .carousel-item {
    height: 50vh;
}

.JourJ .Union {
    background-image: url('../images/union.jpg');
}

.JourJ .Ceremonie {
    background-image: url('../images/ceremonie.jpg');
}

.JourJ .VinHonneur {
    background-image: url('../images/vin-honneur.jpg');
}

.JourJ .Sport {
    background-image: url('../images/sport.jpg');
}

.JourJ .Diner {
    background-image: url('../images/diner.jpg');
}

.JourJ .Soiree {
    background-image: url('../images/soiree.jpg');
}
.JourJ .Brunch {
    background-image: url('../images/brunch.jpg');
}

.JourJ .carousel .carousel-indicators, .JourJ .carousel .carousel-control-prev, .JourJ .carousel .carousel-control-next {
    display: none;
}

.JourJ .carousel-caption img {
    display: none;
}

.JourJ .carousel-caption h3 {
    font-size: 25px;
}

.JourJ .carousel-caption p {
    font-size: 14px;
}

.JourJ .d-none {
    display: block!important;
}

.JourJ .upAndDown {
    display: none;
}

@keyframes moveUpAndDown {
    0% {margin-top: -50px;}
    50% {margin-top: -30px;}
    100% {margin-top: -50px;}
}

@media (min-width: 768px) {
    .carousel .carousel-item:first-child h3 {
        background : url('../images/union-profile.png') no-repeat top;
        background-size: 25%;
        padding-top: 27%;
    }
    
    .JourJ .PageTitle {
        margin-top: 1rem;
        position: absolute;
        z-index: 100;
        text-align: center;
        width: 100%;
        display: block;
    }

    .JourJ .carousel-caption h3 {
        font-size: 40px;
    }

    .JourJ .carousel-caption p {
        font-size: 25px;
    }
}

@media (min-width: 992px) {
    .JourJ div.upAndDown { 
        color: white;
        animation: moveUpAndDown 3s infinite;
        position: absolute;
        width: 8%;
        margin-top: -20px;
        right: 0%;
        font-size: 1.2rem;
        top: 48%;
    }

    .JourJ .PageTitle {
        margin-left: 45px;
    }

    .JourJ .carousel-indicators li:nth-child(1) {
        margin-left: 90px;
    }

    .JourJ .carousel-item {
        height: 100vh;
    }

    .JourJ .carousel .carousel-indicators, .JourJ .carousel .carousel-control-prev, .JourJ .carousel .carousel-control-next {
        display: flex;
    }

    .JourJ .carousel .carousel-control-prev {
        margin-left: 90px;
    }

    .JourJ .carousel-caption {
        position: relative;
        right: 0;
        left: 0;
        bottom: 0;
        width: 70%;
        margin-left: 90px;
    }

    .JourJ .carousel-item-next, .JourJ .carousel-item-prev, .JourJ .carousel-item.active {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 992px) {
    .JourJ .carousel .carousel-item{
        display: flex; 
        flex-direction: column;
        justify-content: center;
        background-size: cover;
        background-position: center;
        bottom: auto!important;
    }

}
