.Reponse {
    background: url('../images/invitation.jpg') no-repeat center fixed;
    background-size: cover; /* version standardisée */
    height: 100vh;
    align-items: center;
    color: black;
    text-shadow: none;
}

.Reponse h1 {
    color: black;
}

.Reponse>.WrapperContent {
    width: 95%;
    padding: 5px 10px;
    height: 85%;
    justify-content: space-between;
}

.Reponse>.WrapperContent>.WrapperContent>.WrapperContent, .Reponse>.WrapperContent>.WrapperContent>.WrapperContent>.WrapperContent {
    flex-direction: row;
    width: 100%;
}

.Reponse textarea.form-control {
    height: 20vh;
}

.Reponse #hebergementGroup {
    flex-direction: column;
}

.Reponse .invalid-feedback {
    text-align: center;
}

.Reponse>.WrapperContent>.WrapperContent>.WrapperContent .form-group {
    display: flex;
    align-items: center;
}

.Reponse>.WrapperContent>.WrapperContent>.WrapperContent .form-group label, .Reponse>.WrapperContent>.WrapperContent>.WrapperContent .form-group input {
    margin: 0px;
    position: relative;
}

.Reponse>.WrapperContent>.WrapperContent>.WrapperContent .form-group input {
    margin-right: .7rem;
    position: relative;
}

.Reponse .transparent-background {
    background-color: rgba(255,255,255,0.5);
    z-index: 1;
}

@media(min-width: 768px) {
    .Reponse>.WrapperContent>.WrapperContent:nth-child(2){
        width: 85%;
    }
    .Reponse .WrapperContent label {
        font-size: 1.5rem;
    }
}
@media(min-width: 992px) {
    .Reponse>.WrapperContent {
        padding: 20px 10px;
        margin-bottom: 10px;
    }
    .Reponse .WrapperContent label {
        font-size: 1.75rem;
    }
}

@media(min-width: 1440px) {
    .Reponse>.WrapperContent>.WrapperContent:nth-child(2){
        width: 70%;
    }
}