.Sjc {
    background: url('../images/sjc.jpg') no-repeat center fixed;
    background-size: cover; /* version standardisée */
    height: 100vh;
}

.Sjc>.WrapperContent {
    flex-grow: 1;
}

.Sjc>.WrapperContent>.WrapperContent {
    flex-grow: 0.1;
}

.Sjc ul {
    text-align: left;
}

.Sjc ul li {
    list-style: none;
}

.Sjc>.WrapperContent .WrapperContent {
    margin-left: 0;
}

.Sjc>.WrapperContent>.WrapperContent:nth-child(1) {
    padding: 20px;
    background-color: rgba(0,0,0,0.5);
}

.Sjc>.WrapperContent>.WrapperContent:nth-child(2) {
    width: 85%;
    min-height: 40vh;
}


.Sjc .oi-arrow-thick-right:before {
    content: '\2A20';
}

@media(min-width: 768px) {
    .Sjc>.WrapperContent {
        flex-direction: row;
    }

    .Sjc>.WrapperContent>.WrapperContent {
        flex-grow: 0;
    }
    
    .Sjc>.WrapperContent>.WrapperContent {
        min-height: 40vh;
    }

    .Sjc>.WrapperContent>.WrapperContent:nth-child(2) {
        width: 40%;
    } 
}

@media(min-width: 992px) {
    .Sjc>.WrapperContent>.WrapperContent, .Sjc>.WrapperContent>.WrapperContent:nth-child(2) {
        min-height: 50vh;
    }
}