
.carousel-caption img {
    display: none;
}

.carousel-caption h3 {
    font-size: 25px;
}

.carousel-caption p {
    font-size: 14px;
}

.JourJ .d-none {
    display: block!important;
}

@media (max-width: 325px) {
    .JourJ .carousel-caption {
        bottom: 0%;
    }
}

@media (max-width: 325px) {
    .JourJ .carousel-item:nth-child(3) div, .JourJ .carousel-item:nth-child(5) div, .JourJ .carousel-item:nth-child(6) div {
        bottom: -15%;
    }
}
    

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .JourJ .carousel-caption {
        bottom: 20%;
    }

    .item:first-child .carousel-caption {
        bottom: 10%;
    }

    .carousel-caption h3 {
        font-size: 40px;
    }

    .carousel-caption p {
        font-size: 25px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .item:first-child .carousel-caption {
        bottom: 20%;
    }
    .item:nth-child(2) .carousel-caption {
        bottom: 30%;
    }

    .JourJ  .carousel-caption {
        bottom: 30%;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    .JourJ .carousel-caption {
        bottom: 36%;
    }

    .JourJ .carousel-caption {
        left: 20%;
        right: 20%;
    }
}
