
.WrapperContent {
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}

.WrapperContent p, .WrapperContent ul {
    font-size: 1rem;
    margin: 0px;
    padding: 0px;
}

.WrapperContent h2 {
    text-align: center;
}

.WrapperContent h3 {
    font-size: 1.5rem;
}

@media (min-width: 768px) {
    .WrapperContent p, .WrapperContent ul {
        font-size: 1.5rem;
    }
    .WrapperContent h3 {
        font-size: 2rem;
    }
}

@media (min-width: 992px) {
    .WrapperContent p {
        font-size: 1.75rem;
    }

    section>.WrapperContent {
        margin-left: 90px;
    }
}
